body {
    background-color: #777;
    width: 960px;
}

header {
    background-color: #ebebeb;
    padding: 10px;
    margin: auto;
}

nav {
    background-color: #ebebeb;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
}

aside {
    background-color: #ebebeb;
    padding: 10px;
    width: 410px;
    height: 430px;
    margin-top: 10px;
    float: right;
}

section {
    background-color: #ebebeb;
    padding: 10px;
    width: 495px;
    height: 430px;
    margin-top: 10px;
    float: left;
}

article {
    background-color: #777;
    margin: auto;
    height: auto;
    padding: 5px;
}

footer {
    background-color: #ebebeb;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
}

.clear {
    display: inline-block;
    clear: both;
}

nav h1 {
    font-family: Helvetica sans-serif;
}